.SecFourContainer{
    display: flex;
    margin-bottom: 50px;

}

.SecFourContainer div{
    flex: 1;
}

.SecFourImgContainer{
    background: url(https://www.zarinpal.com/assets/images/payout.svg?4ced9ef15ae5179ef1a4ed8f7fcc70c3);
    background-repeat: no-repeat;
}