.SecFiveMainContainer{
    display: flex;
    margin-bottom: 50px;


}
.SecFiveMainContainer div{
    flex: 1;

}

.SecFiveImgContainer{
    background: url(https://www.zarinpal.com/assets/images/zarinplus.svg?257fe53db044a8341a572e810201edeb);
    background-repeat: no-repeat;

}