body {
  margin: auto;
  max-width: 90%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

/* downloaded from https://rokaweb.ir */
/* @font-face { */
	/* font-family: 'Yekan'; */
	/* src: url( ./fonts/font-web-optimized-ronakweb.com/ ); */
	/* src: url( ./fonts/font-web-optimized-ronakweb.com/Yekan.eot ) format( 'embedded-opentype' ), */
		/* url( ./fonts/font-web-optimized-ronakweb.com/ ) format( 'woff2' ), */
		/* url( ./fonts/font-web-optimized-ronakweb.com/Yekan.woff ) format( 'woff' ), */
		/* url( ./fonts/yekan/ ) format( 'truetype' ), */
		/* url( ./fonts/yekan/) format( 'svg' );  */
 /* font-weight: normal; */
	/* font-style: normal; */
/* } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  direction: rtl;
  text-align: right;
	font-family: 'Yekan';

}

a{
  text-decoration: none;
  cursor: pointer;
  

}
button{
  background: transparent linear-gradient(270deg,#ffd900,#ffe422) 0 0 no-repeat padding-box;
  margin-top: 17px;
    padding: 4px 14px;
    line-height: 28px;
    border-radius: 10px;
    display: inline-block;
    border: solid;
    outline: none;
    margin-left: 10px;
    white-space: nowrap;
    margin-top: 17px;
  
}
#readmore{
  margin-top: 17px;
  padding: 4px 14px;
  line-height: 28px;
  border-radius: 10px;
  display: inline-block;
  border: unset;
  outline: none;
  margin-left: 10px;
  white-space: nowrap;
  margin-top: 17px;
  background-color: rgba(232,239,254,.6) !important;
    color: #28457b!important;
    background:none !important;

}



